<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <h2 class="section-title">Neden Biz?</h2>
        <p>Ulukun, uzman ekibiyle estetik ve işlevselliği bir araya getiriyor. Müşteri memnuniyeti ve kalite odaklı yaklaşımımızla evlerinizi aydınlatıyoruz.</p>

        <div class="row my-5">
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="./assets/images/truck.svg" alt="Image" class="imf-fluid">
              </div>
              <h3>Hızlı &amp; Ücretsiz Gönderim</h3>
              <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="./assets/images/bag.svg" alt="Image" class="imf-fluid">
              </div>
              <h3>Kolay Alışveriş</h3>
              <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="./assets/images/support.svg" alt="Image" class="imf-fluid">
              </div>
              <h3>24/7 Destek</h3>
              <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="./assets/images/return.svg" alt="Image" class="imf-fluid">
              </div>
              <h3>Koşulsuz İade</h3>
              <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-5">
        <div class="img-wrap">
          <img src="./assets/images/M2R%20Pro.jpeg" alt="Image" class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Why Choose Us Section -->
