<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Ulukun Elfenerleri</h1>
          <p class="mb-4">"May it be a light to you in dark places, when all other lights go out."</p>
          <p>Gökyüzü mavisine boyanmış,
          </p>
          <p>
            Yıldızlar birer ışık saçmış.
          </p>
          <p>
            Karanlığa inat, güneş yükselir,
          </p>
          <p>
            Gözlerimizi aydınlığa açar, şimdi seher.</p>
          <p><a href="" class="btn btn-secondary me-2">Alışveriş Yap</a><a href="#"
                                                                           class="btn btn-white-outline">İncele</a></p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="./assets/images/ms32.png" style="width: 500px; margin-left: 150px" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->
