<header>
  <!-- Intro settings -->
  <style>
    /* Default height for small devices */
    #intro-example {
      height: 400px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 600px;
      }
    }
  </style>


  <!-- Background image -->
  <div id="intro-example" class="p-5 text-center bg-image"
       style="background-image: url('./assets/flashlights.jpeg');">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">UlukunShop'a Hoş geldiniz!</h1>
          <h5 class="mb-4">
            Aradığınız her çeşit elfeneri ve aksesuarı burada
          </h5>
          <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg m-2" href="/products"
             role="button" rel="nofollow">Ürünleri incele</a>
          <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg m-2" href="/register"
             target="_blank" role="button">Üye Ol</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
