<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

  <div class="container">
    <a class="navbar-brand" href="index.html">Ulukun<span>.</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsFurni">
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" href="/">Anasayfa</a>
        </li>
        <li><a class="nav-link" [routerLinkActive]="['active']"  routerLink="products">Ürünler</a></li>
        <li><a class="nav-link"  *ngIf="authService._isAuthenticated" routerLink="admin">Yönetim Paneli</a></li>
        <li><a class="nav-link" routerLink="contact">İletişim</a></li>
        <li class="nav-item" *ngIf="authService._isAuthenticated">
          <a class="nav-link " (click)="logOut()">Çıkış Yap</a>
        </li>
        <li class="nav-item" *ngIf="!authService._isAuthenticated">
          <a class="nav-link active" aria-current="page" routerLink="register">Kayıt ol</a>
        </li>
        <li class="nav-item" *ngIf="!authService._isAuthenticated">
          <a class="nav-link active" aria-current="page" routerLink="login">Giriş Yap</a>
        </li>
      </ul>



      <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
        <li><a class="nav-link" href="#"><img src="./assets/images/user.svg"></a></li>
        <li><a matBadge="1" class="nav-link" (click)="loadComponent()" aria-current="page" data-bs-toggle="modal"
               data-bs-target="#shoppingCartModal" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer"><img src="./assets/images/cart.svg"></a></li>
      </ul>
    </div>
  </div>

</nav>
<!-- End Header/Navigation -->






  <!-- Content Begin -->
<div class="container">
  <router-outlet></router-outlet>
</div>
  <!-- Content End -->





<!-- Footer Begin -->
<app-ui-footer></app-ui-footer>

<ngx-spinner name="s1" type="ball-atom" size="default"></ngx-spinner>
<ngx-spinner name="s2" type="triangle-skew-spin" size="default"></ngx-spinner>
<ngx-spinner name="s3" type="pacman" size="default"></ngx-spinner>

<!--<app-shoppingcarts></app-shoppingcarts>-->

<div class="modal fade" id="shoppingCartModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <ng-template appDynamicLoadComponent></ng-template>
  </div>
</div>
