<mat-nav-list role="list" >
  <a mat-list-item role="listitem" class="btn btn-secondary mt-2" routerLink="/admin" >Kontrol Paneli</a>
<!--  <a mat-list-item role="listitem" class="btn btn-secondary mt-2" routerLink="customers" >Müşteriler</a>-->
  <a mat-list-item role="listitem" class="btn btn-secondary mt-2" routerLink="products" >Ürünler</a>
  <a mat-list-item role="listitem" class="btn btn-secondary mt-2" routerLink="orders" >Satışlar</a>
  <a mat-list-item role="listitem" class="btn btn-secondary mt-2" routerLink="roles">Roller</a>
  <a mat-list-item role="listitem" class="btn btn-secondary mt-2" routerLink="authorize-menu">Rol Yetkilendirme</a>
  <a mat-list-item role="listitem" class="btn btn-secondary mt-2" routerLink="users">Kullanıcılar</a>
  <a mat-list-item role="listitem" class="btn btn-secondary mt-2" routerLink="" >Siteye Dön</a>
</mat-nav-list>
