<!-- Start Popular Product -->
<div class="popular-product">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img src="./assets/images/imalent.png" alt="Image" class="img-fluid">
          </div>
          <div class="pt-3">
            <h3>Imalent</h3>
            <p>İmalent, lider bir markadır. Yüksek performanslı ürünleriyle tanınır.  </p>
            <p><a href="#">Daha Fazla</a></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img src="./assets/images/olight.png" alt="Image" class="img-fluid">
          </div>
          <div class="pt-3">
            <h3>Olight</h3>
            <p>Olight, yenilikçi tasarımları ve güvenilir ürünleriyle bilinir. Son teknoloji ile kullanıcıların ihtiyaçlarını karşılar. </p>
            <p><a href="#">Daha Fazla</a></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img src="./assets/images/lumintop.png" alt="Image" class="img-fluid">
          </div>
          <div class="pt-3">
            <h3>Lumintop</h3>
            <p>Lumintop, sağlam ve uygun fiyatlı yenilikçi ürünleri ile tanınır. En iyi kaliteyi en iyi fiyatla müşterilerine sunar. </p>
            <p><a href="#">Daha Fazla</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Popular Product -->
