<!-- Start Product Section -->
<div class="product-section">
  <div class="container">
    <div class="row">

      <!-- Start Column 1 -->
      <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
        <h2 class="mb-4 section-title">Mükemmel malzemeler ile hazırlanmış.</h2>
        <p class="mb-4">Ulukun, uzman ekibiyle estetik ve işlevselliği bir araya getiriyor. Müşteri memnuniyeti ve kalite odaklı yaklaşımımızla evlerinizi aydınlatıyoruz. </p>
        <p><a routerLink="products" class="btn">Ürünleri İncele</a></p>
      </div>
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0" *ngFor="let product of products">
        <a class="product-item" (click)="addToShoppingCart(product)">
          <img *ngIf="!product.productImages.length" src="./assets/urun-resmi-yok.jpg" class="img-fluid product-thumbnail" alt="Product Image">
          <img *ngIf="product.productImages.length" src="{{baseUrl.url}}/{{product.imagePath}}" class="img-fluid product-thumbnail" alt="Product Image">
          <h3 class="product-title">{{ product.name }}</h3>
          <strong class="product-price">{{ product.price | currency:'₺' }}</strong>

          <span class="icon-cross">
								<img src="./assets/images/cross.svg" class="img-fluid">
							</span>
        </a>
      </div>
      <!-- End Column 2 -->



    </div>
  </div>
</div>
<!-- End Product Section -->
