<div id="chart" class="w-75">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
  ></apx-chart>
</div>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>      Buraya signalR ile anlik olusan siparisler tablo seklinde eklenicek. simdilik alertify ile bildirim dusuluyor.
  </mat-grid-tile>
  <mat-grid-tile>    Buraya ise yine signalR ile anlik urun degisimleri stok artisi veya eksilmesi gibi degisimleri gosteren tablo eklenicek. simdilik oda alertify ile bildirim dusuluyor.
  </mat-grid-tile>
  <mat-grid-tile><mat-spinner></mat-spinner></mat-grid-tile>
  <mat-grid-tile> Bu sayfada signalR calismaktadir. denemek icin bu sayfa acikken bir urun ekleyiniz veya siparis olusturunuz.</mat-grid-tile>


</mat-grid-list>


